.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: #c2c2c2;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 9999;
}

.scroll-button.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-button:hover {
  background-color: #76a1db;
}
